extends layout.pug

block content
    nav.nav
        a(href='/')
            span &larr;
            |  Back

    article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box.error

        h1= `${err.message} - Status: ${error.status}`
        p We seem to be having server trouble. Please try again later.
        img(src='/static/images/error-laptop.png')

    nav.nav
        a(href='/')
            span &larr;
            |  Back