extends layout.pug

block content

  article.portfolio-intro

    h1 Brad Anderson

    p This portfolio has been created as part of the Treehouse Full Stack JavaScript Techdegree. This portfolio aims to demonstrate a collection of the projects I have comepleted during this course, along with my previous Front End Web Development Techdegree. Showcasing my skills in web development.


  article.portfolio-project-thumbs
    .projects-box.box.grid
    
      each project in projects
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}` alt='Thumbnail of project')
            h5 #{project.project_name}